/* General Styles */

$white: #e8e8e8;
$yellow: #ff9a00;
$blue: #0375B4;
$borderGrey: #707070;
$background-blue : #E6F1F8;

@import "../../node_modules/bulma/css/bulma.css";
@import "dashboard";

@font-face {
    font-family: 'SF Pro Bold';
    src: url(../fonts/SF-Pro-Display-Bold.otf)
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../fonts/ProximaNova-Regular.otf)
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.admin-toolbox {
    width: 20px;
    height: 20px;
    background-color: red;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.user-container {
    height: 300px;
    overflow-y: scroll;
    color: black!important;
}

.user-container a {
    color: blueviolet;
}


.title {
    font-family: 'SF Pro Bold', Arial;
}

.subtitle {
    font-family: 'Proxima Nova', Arial;
}

.no-padding-bottom {
    padding-bottom: 0;
}
.is-primary {
    background-color: $yellow !important;
    text-decoration: none;
}

.is-secondary {
    background-color: transparent !important;
    border: 5px solid $yellow;
    color: white;
    padding: 0;
}

.is-fullheight {
    min-height: 100vh;
}

.is-secondary:hover {
    border: 5px solid $yellow;
    color: white;
}

.is-secondary:focus {
    border: 5px solid $yellow;
    color: black;
    background-color: white !important;
}

.column.is-vcentered {
    margin-top: auto;
    margin-bottom: auto;
}

nav {
    margin-bottom: 20px;
}

.nav-logo {
    box-sizing: content-box;
    height: 50px;
}

.navbar-burger {
    color: white!important;
}

@media screen and (max-width: 1023px){ 
    .navbar-menu {
        text-align: center;
        background-color: initial;
        box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
        padding: 0.5rem 0;
        }
}

@media screen and (max-width: 769px) {
    .reverse-column-order {
        display: flex;
        flex-direction: column-reverse;
    }
}

span.underlined {
    text-decoration: underline;
}

.error-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-line {
    margin-bottom: 15px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.error-line img {
    height: 35px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(138deg) brightness(105%) contrast(101%);
    margin-right: 10px;
}
/* Dashboard Specific */

.feature-info-box {
    padding: 20px;
    height: 100%;
    border: 1px solid #707070;
    background-color: #fbfcff;
}

.feature-icon-box {
    position: relative;
    border: 1px solid #707070;
    background-color: #fbfcff;
}

.feature-icon-box-adjuster {
    padding-top: 100%;
}

.feature-icon-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
}

.feature-icon-box-content img{
    max-height: 50%;
}

.banner-container {
    width: 100%;
    height: 300px;
    background-image: url(../img/user/low-poly-red-banner.png)
}

.user-info {
    margin-left: 50px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
}
.user-info .user-picture {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 10px solid white;
    background-image: url(../img/user/boy.svg)
}

.user-text {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.user-description {
    display: flex;
    flex-direction: column;
}

.user-text .user-name {
    font-size: 35px;
}

.user-text .user-occupation {
    margin-top: -5px;
}

.user-activity {
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-activity img {
    height: 70%;
}

.user-activity-text {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

.user-activity-title {
    font-size: 1.5em;
}


/* Homepage Section Specific */

body {
    background-color: $blue;
    color: white;

}

.title,
.subtitle {
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

/* Homepage Navigation */

.navbar {
    background-color: transparent;
    color: white;
}

.navbar-item a {
    color: white;
    text-decoration: none;
}

.button > a {
    text-decoration: none;
    color: white;
}

.link-button {
    text-decoration: none;
    color: white;
}

.donation-buttons {
    margin-top: 20px;
}

/* Register Page */

.register-columns >.column {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.organism-register {
    padding: 0;
}

.register-columns > .column>a:hover {
    text-decoration: none;
}

.user-form {
    margin-top: 40px;
    margin-bottom: 40px;
}
.user-form input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.5rem;
}

.user-form textarea {
    border: 2px solid white;
}

.user-form input[type=password] {
    border: 6px solid white;
    height: 50px;
    width: 40%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.user-form input::placeholder{
    color: white;
    text-align: center;
}

.fullbox-form .input-fixer{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.fullbox-form input{
    border: 6px solid rgb(253, 255, 255);
    height: 50px;
    width:100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.fullbox-form input[type=file] {
    border: none;
    font-size: 1rem;
}
.register-title {
    margin-bottom: 10px!important;
}

.register-section {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.interest-box {
    position: relative;
    border: 10px solid white;
}

.interest-box-adjuster {
    padding-top: 100%;
}

.interest-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    -webkit-user-select: none;
    -moz-user-select: none;;
}

.interest-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(273deg) brightness(104%) contrast(102%);
}

.interest-box-activated .interest-icon {
    filter: invert(33%) sepia(73%) saturate(1048%) hue-rotate(169deg) brightness(95%) contrast(99%);
}

.interest-box-activated {
    color: $blue;
    background-color: white;
}


.interest-box-activated .activated-icon{
    color: $blue;
}

.activated-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: transparent;
}

.interest-text {
    font-size: 2vw;
}

.interest-names {
    text-decoration: underline;
}


/* Email Confirmation */
.email-confirmation {
    margin-top: 30px;
}
@media screen and (max-width: 769px) {
    .user-form {
        text-align: center;
    }

    .user-form p {
        margin-bottom: 20px;
    }

    .user-form input{
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%;
        margin-bottom: 10px;
    }

    .user-form input[type=date] {
        width: 100%;
    }

    .user-form input[type=password] {
        border: 6px solid white;
        height: 50px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .interest-text {
        font-size: 6vw!important;
    }
}

@media screen and (max-width: 1023px) {
    
    .interest-text {
        font-size: 6vw!important;
    }
}


.login-form {
    margin-top: 10px;
}

.login-form input, .login-form input[type="password"] {
    width: 75%;
}

@media screen and (max-width: 769px) {
    .login-form input, .login-form input[type="password"] {
        width: 100%;
    }
    
    .login-form .button {
        width: 80%;
    }
}

/* Offer */

.offer-header {
    border-bottom: 1px solid dimgray;
    padding-bottom: 10px;
}

.offer-header .title {
    margin-bottom: 0px;
}

.offer-header .subtitle {
    margin-left: 15px;
    font-weight: 600;
}

.offer-header p {
    margin-top: 10px;
}

.offer-header img {
    height: 120px;
}

.offer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.offer-header .level-left, .offer-header .level-right {
    display: inline-block;
}

.nbPlaces {
    font-size: 1.3em;
}

.nbPlaces .subtitle {
    margin-bottom: 0;
}

.nbPlaces > div {
    padding-left: 15px;
}

.nbPlaces span {
    text-decoration: underline;
}

.nbPlaces .button {
    margin-top: 10px;
}

.offers-container {
    margin-top: 20px;
}

.result-box {
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-top: 10px;
    background-color: white;
    border: 1px solid black;
}

.result-box .result-box-org {
    position: relative;
    top: 5px;
    font-weight: bold;
}

.result-box span {
    display: block;
}

.result-box-title {
    font-size: 1.5em;
    text-decoration: none;
}

.result-box-title a {
    text-decoration: none;
    color: $blue;
}

.result-box-img {
    margin-right: 25px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    height: 100px;
    width: 100px;
}

.offer-participant {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    
}

.offer-update-form {
    display: flex;
    flex-direction: column;
}

.offer-update-form button {
    width: 40%;
    margin-top: 20px;
}

.organism-offer-participants .subtitle{
    margin-bottom: 0;
}

.organism-offer-waitinglist {
    margin-top: 15px;
}

#offer-map {
    height: 400px;
}

.sortBy {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sortBy span {
    margin-right: 10px;
}