/* General Styles */

@import "../../node_modules/bulma/css/bulma.css";

@font-face {
    font-family: 'SF Pro Bold';
    src: url(../fonts/SF-Pro-Display-Bold.otf)
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../fonts/ProximaNova-Regular.otf)
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.title {
    font-family: 'SF Pro Bold', Arial;
}

.subtitle {
    font-family: 'Proxima Nova', Arial;
}

.is-primary {
    background-color: #ff9a00 !important;
    text-decoration: none;
}

.is-secondary {
    background-color: transparent !important;
    border: 5px solid #ff9a00;
    color: white;
    padding: 0;
}

.is-fullheight {
    min-height: 100vh;
}

.is-secondary:hover {
    border: 5px solid #ff9a00;
    color: white;
}

.is-secondary:focus {
    border: 5px solid #ff9a00;
    color: black;
    background-color: white !important;
}

.column.is-vcentered {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-logo {
    box-sizing: content-box;
    height: 30px;
}

@media screen and (max-width: 769px) {
    .reverse-column-order {
        display: flex;
        flex-direction: column-reverse;
    }
}

span.underlined {
    text-decoration: underline;
}

/* Homepage Section Specific */

body {
    background-color: #0375B4;
    color: white;

}

.title,
.subtitle {
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

/* Homepage Navigation */

.navbar {
    background-color: transparent;
    color: white;
}

.navbar-item a {
    color: white;
    text-decoration: none;
}

.button > a {
    text-decoration: none;
    color: white;
}

.link-button {
    text-decoration: none;
    color: white;
}

.donation-buttons {
    margin-top: 20px;
}

/* Register Page */

.register-columns >.column {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.organism-register {
    padding: 0;
}

.register-columns > .column>a:hover {
    text-decoration: none;
}

.register-form {
    margin-top: 40px;
    margin-bottom: 40px;
}
.register-form input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.5rem;
}

.register-form input[type=password] {
    border: 6px solid white;
    height: 50px;
    width: 40%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.register-form input::placeholder{
    color: white;
    text-align: center;
}

.organism-form div{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.organism-form input{
    border: 6px solid rgb(253, 255, 255);
    height: 50px;
    width: 40%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.register-title {
    margin-bottom: 10px!important;
}

.register-section {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.interest-box {
    position: relative;
    border: 10px solid white;
}

.interest-box-adjuster {
    padding-top: 100%;
}

.interest-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    -webkit-user-select: none;
    -moz-user-select: none;;
}

.interest-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(273deg) brightness(104%) contrast(102%);
}

.interest-box-activated .interest-icon {
    filter: invert(33%) sepia(73%) saturate(1048%) hue-rotate(169deg) brightness(95%) contrast(99%);
}
.interest-box-activated {
    color: #0375B4;
    background-color: white;
}

.interest-box-activated .activated-icon{
    color: #0375B4;
}

.activated-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: transparent;
}

.interest-text {
    font-size: 2vw;
}

.interest-names {
    text-decoration: underline;
}


/* Email Confirmation */
.email-confirmation {
    margin-top: 30px;
}
@media screen and (max-width: 769px) {
    .register-form {
        text-align: center;
    }

    .register-form p {
        margin-bottom: 20px;
    }

    .register-form input{
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%;
        margin-bottom: 10px;
    }

    .register-form input[type=date] {
        width: 100%;
    }

    .register-form input[type=password] {
        border: 6px solid white;
        height: 50px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .interest-text {
        font-size: 6vw!important;
    }
}

@media screen and (max-width: 1023px) {
    
    .interest-text {
        font-size: 6vw!important;
    }
}