/* General Styles */

@import "../../node_modules/bulma/css/bulma.css";

@font-face {
    font-family: 'SF Pro Bold';
    src: url(../fonts/SF-Pro-Display-Bold.otf)
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../fonts/ProximaNova-Regular.otf)
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.dashboard {
    background-color: #e8e8e8;
}

.title {
    font-family: 'SF Pro Bold', Arial;
}

.subtitle {
    font-family: 'Proxima Nova', Arial;
}

.no-padding-bottom {
    padding-bottom: 0;
}
.is-primary {
    background-color: #ff9a00 !important;
    text-decoration: none;
}

.is-secondary {
    background-color: transparent !important;
    border: 5px solid #ff9a00;
    color: white;
    padding: 0;
}

.is-fullheight {
    min-height: 100vh;
}

.is-secondary:hover {
    border: 5px solid #ff9a00;
    color: white;
}

.is-secondary:focus {
    border: 5px solid #ff9a00;
    color: black;
    background-color: white !important;
}

.column.is-vcentered {
    margin-top: auto;
    margin-bottom: auto;
}

nav {
    margin-bottom: 20px;
}

.nav-logo {
    box-sizing: content-box;
    height: 50px;
}

.navbar-burger {
    color: white!important;
}

@media screen and (max-width: 1023px){ 
    .navbar-menu {
        text-align: center;
        background-color: initial;
        box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
        padding: 0.5rem 0;
        }
}

@media screen and (max-width: 769px) {
    .reverse-column-order {
        display: flex;
        flex-direction: column-reverse;
    }
}

span.underlined {
    text-decoration: underline;
}

.error-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-line {
    margin-bottom: 15px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.error-line img {
    height: 35px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(138deg) brightness(105%) contrast(101%);
    margin-right: 10px;
}
/* Dashboard Specific */

.dashboard {
    color: black;
}

.dashboard a {
    color : #0375B4;
}

.dashboard a .subtitle {
    color : #0375B4!important;
}

.dashboard .navbar-burger {
    color: black!important;
}

.dashboard .navbar-item a {
    color: black;
}

.dashboard .title, .dashboard .subtitle{
    color: black!important;
}

.dashboard .user-form input, .dashboard .user-form input::placeholder {
    border-color: black;
    color: black;
}

.feature-info-box {
    padding: 20px;
    height: 100%;
    border: 1px solid #707070;
    background-color: #fbfcff;
}

.feature-icon-box {
    position: relative;
    border: 1px solid #707070;
    background-color: #fbfcff;
}

.feature-icon-box-adjuster {
    padding-top: 100%;
}

.feature-icon-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
}

.feature-icon-box-content img{
    max-height: 50%;
}

.banner-container {
    width: 100%;
    height: 300px;
    background-image: url(../img/user/low-poly-red-banner.png)
}

.user-info {
    margin-left: 50px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
}
.user-info .user-picture {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 10px solid white;
    background-image: url(../img/user/boy.svg)
}

.user-text {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.user-description {
    display: flex;
    flex-direction: column;
}

.user-text .user-name {
    font-size: 35px;
}

.user-text .user-occupation {
    margin-top: -5px;
}

.user-activity {
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-activity img {
    height: 70%;
}

.user-activity-text {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

.user-activity-title {
    font-size: 1.5em;
}


/* Homepage Section Specific */

body {
    background-color: #0375B4;
    color: white;

}

.title,
.subtitle {
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

/* Homepage Navigation */

.navbar {
    background-color: transparent;
    color: white;
}

.navbar-item a {
    color: white;
    text-decoration: none;
}

.button > a {
    text-decoration: none;
    color: white;
}

.link-button {
    text-decoration: none;
    color: white;
}

.donation-buttons {
    margin-top: 20px;
}

/* Register Page */

.register-columns >.column {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.organism-register {
    padding: 0;
}

.register-columns > .column>a:hover {
    text-decoration: none;
}

.user-form {
    margin-top: 40px;
    margin-bottom: 40px;
}
.user-form input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.5rem;
}

.user-form input[type=password] {
    border: 6px solid white;
    height: 50px;
    width: 40%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.user-form input::placeholder{
    color: white;
    text-align: center;
}

.fullbox-form div{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.fullbox-form input{
    border: 6px solid rgb(253, 255, 255);
    height: 50px;
    width: 40%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.register-title {
    margin-bottom: 10px!important;
}

.register-section {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.interest-box {
    position: relative;
    border: 10px solid white;
}

.interest-box-adjuster {
    padding-top: 100%;
}

.interest-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    -webkit-user-select: none;
    -moz-user-select: none;;
}

.interest-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(273deg) brightness(104%) contrast(102%);
}

.interest-box-activated .interest-icon {
    filter: invert(33%) sepia(73%) saturate(1048%) hue-rotate(169deg) brightness(95%) contrast(99%);
}
.interest-box-activated {
    color: #0375B4;
    background-color: white;
}

.interest-box-activated .activated-icon{
    color: #0375B4;
}

.activated-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: transparent;
}

.interest-text {
    font-size: 2vw;
}

.interest-names {
    text-decoration: underline;
}


/* Email Confirmation */
.email-confirmation {
    margin-top: 30px;
}
@media screen and (max-width: 769px) {
    .user-form {
        text-align: center;
    }

    .user-form p {
        margin-bottom: 20px;
    }

    .user-form input{
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%;
        margin-bottom: 10px;
    }

    .user-form input[type=date] {
        width: 100%;
    }

    .user-form input[type=password] {
        border: 6px solid white;
        height: 50px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .interest-text {
        font-size: 6vw!important;
    }
}

@media screen and (max-width: 1023px) {
    
    .interest-text {
        font-size: 6vw!important;
    }
}


.login-form {
    margin-top: 10px;
}

.login-form input, .login-form input[type="password"] {
    width: 75%;
}

@media screen and (max-width: 769px) {
    .login-form input, .login-form input[type="password"] {
        width: 100%;
    }
    
    .login-form .button {
        width: 80%;
    }
}